.main-color {
  color: #b2caef;
}
/* for change scrolbar style*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #b2caef;
}
body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  background-color: #f0e6e6d0;
  height: 100vh;
}
input:focus {
  outline: 3px solid #b2caef !important;
  border: none !important;
}
input::placeholder {
  opacity: 0.5 !important;
  font-size: 13px;
}
.button-85 {
  width: fit-content;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #b2caef;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #b2caef,
    #98b9eb,
    #86ace6,
    #74a1e4,
    #5990e2,
    #4986e0,
    #397adb,
    #2a72dd,
    #e9e9e9
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b2caef;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.action div svg {
  cursor: pointer !important;
}
.action .edit {
  color: #a4c0eb !important ;
  transition: 0.3s;
}
.action .edit:hover {
  color: #0d6efd !important ;
  transform: rotate(360deg);
}
.action .trash {
  color: #e7a4aa !important ;
  transition: 0.3s;
}
.action .trash:hover {
  color: #dc3545 !important ;
  transform: rotate(360deg);
}
